#booking-form {
  padding: 4rem 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#booking-form form {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 320px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  width: 100%;
}

.form-field label {
  text-align: left;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.form-field label span.mandatory {
  color: red;
}

.form-field input,
.form-field select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.form-field p {
  margin: 0;
}

.form-field .error {
  color: red;
  font-weight: 500;
  font-size: 14px;
}

.form-field .input-error {
  color: red;
  border-color: red;
}
